<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Admin panel</title>
</head>

<body>
<!-- Top navigator -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <strong><span th:text="${userRepo.email}" style="padding-left: 10px"></span></strong> with roles:
        <span th:each="role : ${userRepo.roles}" th:text="${role.toString() + ' '}"></span>
    </a>
    <a class="float-right text-secondary nav-link" href="/logout"><h5> Logout </h5></a>
</nav>

<!-- Main -->
<div class="container-fluid d-flex flex-column">
    <div class="row align-items-start bg-light">
        <div class="row">

            <!--Left SideBar -->
            <div class="col col-lg-2 bg-white" style="padding-top: 10px">
                <nav class="nav flex-column nav-pills">
                    <a class="nav-link active" href="/admin"> Admin </a>
                    <a class="nav-link" href="/user"> User </a>
                </nav>
            </div>

            <!--Admin panel -->
            <div class="col">
                <h1 class="font-weight-bolder"> Admin panel </h1>
                <div class="nav nav-tabs" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" role="tab" aria-controls="users" href="#users"
                       aria-selected="true">Users table</a>
                    <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-controls="create" href="#create"
                       aria-selected="false">New user</a>
                </div>

                <div class="tab-content">
                    <!--User table tab -->
                    <div class="tab-pane fade show active" id="users" role="tabpanel">
                        <div class="d-grid p-1 border ">
                            <h5>All users</h5>
                        </div>
                        <div class="d-grid p-2 bg-white">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Lastname</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-active" th:each="user : ${users}">
                                    <th th:utext="${user.getId()}"/>
                                    <th th:utext="${user.getUsername()}"/>
                                    <th th:utext="${user.getLastname()}"/>
                                    <th th:utext="${user.getAge()}"/>
                                    <th th:utext="${user.getEmail()}"/>
                                    <th><span th:each="role : ${user.roles}" th:text="${role.toString() + ' '}"/></th>
                                    <td>
                                        <button type="button" class="btn btn-info text-white" data-toggle="modal"
                                                th:attr="data-target='#editModal'"> Edit
<!--                                                th:attr="data-target=${'#editModal'+user.id}">Edit-->
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                th:attr="data-target='#deleteModal'"> Delete
<!--                                                th:attr="data-target=${'#deleteModal'+user.id}">Delete-->
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--New user tab -->
                    <div class="tab-pane" id="create" role="tabpanel">
                        <div class="d-grid p-1 border ">
                            <h5>Add new user</h5>
                        </div>
                        <div class="d-grid p-2 bg-white">
                            <div class="form-group text-center">
                                <form th:method="POST" th:action="@{/registration}" th:object="${newUser}">
                                    <div class="form-group p-2">
                                        <label for="username"> <span class="fw-bold">First name </span> </label>
                                        <br/>
                                        <input class="bg-warning" type="text" th:field="*{username}" id="username"/>
                                        <br/></div>
                                    <div class="form-group p-2">
                                        <label for="lastname"> <span class="fw-bold">Last name</span> </label>
                                        <br/>
                                        <input class="bg-warning" type="text" th:field="*{lastname}" id="lastname"/>
                                        <br/></div>
                                    <div class="form-group p-2">
                                        <label for="age"> <span class="fw-bold">Age </span></label>
                                        <br/>
                                        <input type="text" th:field="*{age}" id="age"/>
                                        <br/></div>
                                    <div class="form-group p-2">
                                        <label for="email"><span class="fw-bold"> Email </span></label>
                                        <br/>
                                        <input class="bg-warning" type="text" th:field="*{email}" id="email"/>
                                        <br/></div>
                                    <div class="form-group p-2">
                                        <label for="password"><span class="fw-bold"> Password </span></label>
                                        <br/>
                                        <input type="password" th:field="*{password}" id="password"/>
                                        <br/></div>
                                    <div class="form-group p-2">
                                        <label for="passwordConfirm"><span
                                                class="fw-bold"> Confirm Password </span></label>
                                        <br/>
                                        <input type="password" th:field="*{passwordConfirm}" id="passwordConfirm"/>
                                        <br/></div>
                                    <div class="col-2 mx-auto">
                                        <div class="form-group p-2">
                                            <label for="roles"> <span class="fw-bold"> Role </span></label>
                                            <select multiple class="form-control" id="roles" name="roles" size="2">
                                                <option value="1">ADMIN</option>
                                                <option value="2" selected>USER</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-success"> Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--Edit user modal-->
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group p-2 text-center">
                                            <label for="editID"> <span class="fw-bold">ID </span> </label>
                                            <br/>
                                            <input type="number" class="form-control" id="editID" disabled/>
                                            <br/></div>
                                        <div class="form-group p-2 text-center">
                                            <label for="editName"> <span class="fw-bold">First name </span> </label>
                                            <br/>
                                            <input type="text" class="form-control" id="editName"/>
                                            <br/></div>
                                        <div class="form-group p-2 text-center">
                                            <label for="editLastname"> <span class="fw-bold">Last name</span> </label>
                                            <br/>
                                            <input type="text" class="form-control" id="editLastname"/>
                                            <br/></div>
                                        <div class="form-group p-2 text-center">
                                            <label for="editAge"> <span class="fw-bold">Age </span></label>
                                            <br/>
                                            <input type="text" class="form-control" id="editAge"/>
                                            <br/></div>
                                        <div class="form-group p-2 text-center">
                                            <label for="editEmail"><span class="fw-bold"> Email </span></label>
                                            <br/>
                                            <input type="text" class="form-control" id="editEmail"/>
                                            <br/></div>
                                        <div class="form-group p-2 text-center">
                                            <label for="editPassword"><span class="fw-bold"> Password </span></label>
                                            <br/>
                                            <input type="password" class="form-control" id="editPassword"/>
                                            <br/></div>
                                        <div class="form-group p-2 text-center">
                                            <label for="editPasswordConfirm"><span
                                                    class="fw-bold"> Confirm Password </span></label>
                                            <br/>
                                            <input type="password" class="form-control" id="editPasswordConfirm"/>
                                            <br/></div>
                                        <div class="form-group p-2 text-center">
                                            <label for="editRoles"> <span class="fw-bold"> Role </span></label>
                                            <select multiple class="form-control" id="editRoles" name="roles"
                                                    size="2">
                                                <option value="1">ADMIN</option>
                                                <option value="2" selected>USER</option>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary" value="update">Edit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Delete user modal-->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                         aria-labelledby="deleteModalLabel">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <fieldset disabled>
                                            <div class="form-group p-2 text-center">
                                                <label for="delID"> <span class="fw-bold">ID </span> </label>
                                                <input type="number" id="delID" class="form-control"/>
                                            </div>
                                            <div class="form-group p-2 text-center">
                                                <label for="delName"> <span class="fw-bold">First name </span> </label>
                                                <input type="text" id="delName" class="form-control"/>
                                            </div>
                                            <div class="form-group p-2 text-center">
                                                <label for="delLastname"> <span class="fw-bold">Last name</span>
                                                </label>
                                                <input type="text" id="delLastname" class="form-control"/>
                                            </div>
                                            <div class="form-group p-2 text-center">
                                                <label for="delAge"> <span class="fw-bold">Age </span></label>
                                                <input type="number" id="delAge" class="form-control"/>
                                            </div>
                                            <div class="form-group p-2 text-center">
                                                <label for="delEmail"><span class="fw-bold"> Email </span></label>
                                                <input type="text" id="delEmail" class="form-control"/>
                                            </div>
                                            <div class="form-group p-2 text-center">
                                                <label for="delRoles"> <span class="fw-bold"> Role </span></label>
                                                <select multiple class="form-select" id="delRoles" size="2">
                                                    <option value="1">ADMIN</option>
                                                    <option value="2" selected>USER</option>
                                                </select>
                                            </div>
                                        </fieldset>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-danger" onclick="user.delete()">
                                                Delete
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/static/js/main.js}" ></script>

</body>
</html>