<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<table th:border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <tr th:each="user : ${users}">
        <th th:utext="${user.getId()}" />
        <th th:utext="${user.getUsername()}" />
        <th th:utext="${user.getLastname()}" />
        <th th:utext="${user.getAge()}" />
        <th th:utext="${user.getEmail()}" />
        <th> <form th:method="POST" th:action="@{/admin/edit (id=${user.getId()})}" th:object="${user}">
            <input type="submit" value="Edit" />
        </form></th>
        <th> <form th:method="POST" th:action="@{/admin/?id={id} (id=${user.getId()})}">
            <input type="submit" value="Pls no" />
        </form> </th>
    </tr>
</table>

<br/>

<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Log out" />
</form>

</body>
</html>