<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/update (id=${user.getId()})}" th:object="${user}">
    <label for="username"> Enter name </label>
    <br/>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="lastname"> Enter last name </label>
    <br/>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <br/>
    <label for="age"> Enter age </label>
    <br/>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email"> Enter email </label>
    <br/>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password"> Enter password </label>
    <br/>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <div class="form-group row">
        <label class="col-4 col-form-label"> Choose roles </label>
        <div class="col-8">
            <th:block th:each="role : ${listRoles}">
                <input type="checkbox" th:field="*{roles}" th:text="${role.name}" th:value="${role.id}" class="m-2"/>
            </th:block>
        </div>
        <p/>
        <input type="submit" value="Update"/>
    </div>
</form>

<form th:method="GET" th:action="@{/admin}">
    <input type="submit" value="Back"/>
</form>

</body>
</html>