<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>

<body>

<form th:method="POST" th:action="@{/registration}" th:object="${userForm}">
    <input type="text" th:field="*{username}" placeholder="username" />
    <br/>
    <input type="text" th:field="*{lastname}" placeholder="lastname" />
    <br/>
    <input type="text" th:field="*{city}" placeholder="city" />
    <br/>
    <input type="password" th:field="*{password}" placeholder="Password" />
    <br/>
    <input type="password" th:field="*{passwordConfirm}" placeholder="Password confirm" />
    <br/>
    <p/>
    <button type="submit"> Registration </button>
</form>

</body>
</html>