<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<tr> id </tr>
<p th:text="${user.getId()}" />
<tr> name </tr>
<p th:text="${user.getUsername()}" />
<tr> last name </tr>
<p th:text="${user.getLastname()}" />
<tr> city </tr>
<p th:text="${user.getCity()}" />

<form th:method="POST" th:action="@{/admin/edit (id=${user.getId()})}" th:object="${user}">
    <input type="submit" value="Edit" />
</form>

<!--<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">-->
<form th:method="POST" th:action="@{/admin/?id={id}(id=${user.getId()})}">
    <input type="submit" value="Delete" />
</form>

<p>

<form th:method="GET" th:action="@{/}">
    <input type="submit" value="Back" />
</form>

</body>
</html>