<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<table class="table" >
<label> id </label>
<p th:text="${user.getId()}" />
<label> name </label>
<p th:text="${user.getUsername()}" />
<label> last name </label>
<p th:text="${user.getLastname()}" />
<label> city </label>
<p th:text="${user.getCity()}" />
</table>

<form th:method="POST" th:action="@{/admin/edit (id=${user.getId()})}" th:object="${user}">
    <input type="submit" value="Edit" />
</form>

<!--<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">-->
<form th:method="POST" th:action="@{/admin/?id={id}(id=${user.getId()})}">
    <input type="submit" value="Delete" />
</form>

<p>

<form th:method="GET" th:action="@{/}">
    <input type="submit" value="Back" />
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>